
.clientInterface {
    width: 100vw;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.clientInterface-container {
    width: 74vw;
    padding: 30px 48px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ----- MESSAGERIE -------- */
.clientInterface-messagerie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90vh;
    width: 48%;

    border: 2px solid var(--grey-light-3);
    background: var(--white);

    border-radius: 10px;


    padding: 25px;
    box-sizing: border-box;

}

.clientInterface-messages {

    height: 93%;
    width: 100%;

    gap: 15px;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;


    padding-bottom: 59px;

    box-sizing: border-box;
}

.placeholderOfChat {
    color: #e1dfdf !important;
    font-size: 30px;
    text-align: center;
    margin-top: 29px;
}

.clientInterface-messages .client-message, .clientInterface-messages .user-message {
    padding: 14px 11px;
    border-radius: 5px;

}

.clientInterface-messages .client-message {
    background: var(--blue-light-3);
}

.clientInterface-messages .user-message {
    background: var(--blue-light-4);
}

.clientInterface-messages .message__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 14px;
}

.clientInterface-messages .message__head h4 {
    color: #0000009e !important;
}

.message_content {
    color: #00000082;
}

.message_date {

    color: #00000082;
    font-weight: 400;
    font-style: italic;

    text-align: end;
}

/* -- End of MESSAGERIE ---- */

/* ---- OPTION DETAILS ---- */
.clientInterface-project-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;

    height: 90vh;

    width: 48%;

    border: 2px solid var(--grey-light-3);
    background: var(--white);

    border-radius: 10px;

    padding: 25px;
    box-sizing: border-box;

}

.clientInterface-project-options span {

    font-size: 19px;
    color: var(--grey) !important;
    font-weight: 300;

    text-align: center;
}

.clientInterface-project-options .oneDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 45%;
}

.clientInterface-project-options .separateur {
    height: 1px;
    width: 100%;
    background: var(--grey-light-3);
    margin-block: 20px;
}

.clientInterface-project-options h4 {
    color: var(--grey);
    font-size: 25px;

    margin-top: 59px;

    text-align: center;
}

/* ---- END OF OPTION DETAILS ---- */
/* ---- CONDITIONS OF PAYEMENT ---- */
.clientInterface-payment-conditions {
    background: var(--blue-light-4);
    border: var(--blue-light-3) 2px solid;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
}

.clientInterface-payment-conditions h3 {
    font-size: 48px;
    font-weight: bold;

}

.clientInterface-payment-conditions section {
    margin-block: 50px;
}

.clientInterface-payment-conditions ul {
    margin: 0;
    padding: 0;
}

/* ---- END OF CONDITIONS OF PAYEMENT ---- */
/* ---- DATA FIXED AT RIGHT ---- */
.clientInterface-project-data {
    position: fixed;
    top: 0%;
    right: 0%;

    color: var(--white);

    height: 100vh;
    width: 25vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 90px 35px;
    box-sizing: border-box;

    background: var(--blue);

    /*   position: absolute;
       right: 0%;
       top: 0%;*/
}

.clientInterface-nav{
    width: calc(100% - 6%);

    display: none;
    position: absolute;


    left: 3%;
    top: 0%;

}
.clientInterface-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.clientInterface-nav img{
    height: 25px;
}
.clientInterface-project-icon, .clientInterface-project-data-icon {

    padding: 10px 15px;
    box-sizing: border-box;
    width: fit-content;

    background: var(--blue-light-2);

    border-radius: 20px;


    box-shadow: #00000014 4px 4px 4px;

    color: var(--white);
    font-weight: bold;
}
.clientInterface-project-data-icon{
    position: absolute;
    top: 3%;
    right: 3%;
    display: none;
}
.clientInterface-project-data .title {
    font-size: 32px !important;
    margin-top: 0 !important;

}

.clientInterface-project-data h2 {
    color: var(--white) !important;
    padding: 0 !important;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 10px;
}

@media screen and (max-device-width: 1350px) {
    /* ---GLOBAL----*/
    .clientInterface-container {
box-sizing: border-box;
        padding: 20px 14px;
        width: 100vw;
    }

    .clientInterface-messagerie, .clientInterface-project-options {
        padding: 9px;
    }


    /* ---  MESSAGERIE ----*/
    /* ---  OPTIONS ----*/
    /* ---PROJECT DATA ----*/
    .clientInterface-nav{
        display: flex;
    }
    .clientInterface-project-icon__options,  .clientInterface-project-icon__conditions ,  .clientInterface-project-icon__messagerie{
        display: none;
    }
    .clientInterface-project-data-icon{
        display: block;
    }
    .clientInterface-project-data {

        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-device-width: 1000px) {
    /* ---  OPTIONS ----*/
    .clientInterface-project-options h4 {
        font-size: 21px;
    }
}


@media screen and (max-device-width: 850px) {
    /* ---GLOBAL----*/
    .clientInterface{

        padding-top: 9vh;
    }
    .clientInterface-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .clientInterface-messagerie, .clientInterface-project-options {
        height: 86vh;
        width: 67%;
    }


    .clientInterface-project-icon__options,  .clientInterface-project-icon__conditions ,  .clientInterface-project-icon__messagerie{
        display: block;
    }
}
@media screen and (max-device-width: 600px) {
    /* ---GLOBAL----*/

    .clientInterface-messagerie, .clientInterface-project-options {

        width: 85%;
    }
}@media screen and (max-device-width: 450px) {
    /* ---GLOBAL----*/

    .clientInterface-messagerie, .clientInterface-project-options {

        width: 100%;
    }
}