#content {
	width: calc(80vw - 2vmin);
	height: calc(100vh - 2vmin);
	padding: 0;

	overflow: hidden;
}
.client-data {
	width: calc(70% - 40px);
	min-height: calc(100vh - 2vmin - 60px);
	padding: 30px;

	background-color: var(--grey-light-5);
}
.client-data__link-info {
	width: 100%;
	height: 30%;

	background-color: white;

	border-radius: 20px;
	border: 2px solid var(--grey-light-4);
}

.client-info {
	width: calc(30% - 40px);
	min-height: calc(100vh - 2vmin - 60px);
	padding: 30px;

	background-color: #FFF;
}