
.clientInterface {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 0px 0px 54px;
    box-sizing: border-box;
}

/* ----- MESSAGERIE -------- */
.clientInterface-messagerie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 90%;
    width: 27%;

    border: 2px solid var(--grey-light-3);
    background: var(--white);

    border-radius: 10px;


    padding: 25px;
    box-sizing: border-box;

}

.clientInterface-messages {

    height: 93%;

    gap: 15px;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;


    padding-bottom: 59px;

    box-sizing: border-box;
}

.placeholderOfChat {
    color: #e1dfdf !important;
    font-size: 30px;
    text-align: center;
    margin-top: 29px;
}

.clientInterface-messages .client-message, .clientInterface-messages .user-message {
    padding: 14px 11px;
    border-radius: 5px;

}

.clientInterface-messages .client-message {
    background: var(--blue-light-3);
}

.clientInterface-messages .user-message {
    background: var(--blue-light-4);
}

.clientInterface-messages .message__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 14px;
}

.clientInterface-messages .message__head h4 {
    color: #0000009e !important;
}

.message_content {
    color: #00000082;
}

.message_date {

    color: #00000082;
    font-weight: 400;
    font-style: italic;
}

/* -- End of MESSAGERIE ---- */

/* ---- OPTION DETAILS ---- */
.clientInterface-project-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;

    height: 90%;

    width: 43%;

    border: 2px solid var(--grey-light-3);
    background: var(--white);

    border-radius: 10px;

    padding: 25px;
    box-sizing: border-box;

}

.clientInterface-project-options span{

    font-size: 19px;
    color: var(--grey) !important;
    font-weight: 300;
}
.clientInterface-project-options .oneDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: 45%;
}
.clientInterface-project-options .separateur {
    height: 1px;
    width: 100%;
    background: var(--grey-light-3);
    margin-block: 20px;
}
.clientInterface-project-options h4{
    color: var(--grey);
    font-size: 25px;

    margin-top: 59px;
}
/* ---- END OF OPTION DETAILS ---- */
.clientInterface-project-data {

    color: var(--white);

    height: 100vh;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 90px 35px;
    box-sizing: border-box;

    background: var(--blue);

    /*   position: absolute;
       right: 0%;
       top: 0%;*/
}

.clientInterface-project-data .title {
    font-size: 32px !important;
    margin-top: 0 !important;

}

.clientInterface-project-data h2 {
    color: var(--white) !important;
    padding: 0 !important;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 10px;
}